@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-bold";
  src: url(../font-family/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: "Gilroy-light";
  src: url(../font-family/Gilroy-Light.otf);
}
.icon:hover svg path {
  fill: #000 !important;
}

.autoplay .slick-list {
  overflow: visible !important;
  padding: 0 20% 0 0 !important;
  position: relative !important ;
}
.autoplay .slick-list::after {
  content: " " !important;
  position: absolute !important;
  top: 0px !important;
  bottom: 0px !important;
  width: 4000px !important;
  right: 100% !important;
  background-color: white !important;
}
.left_0 {
  left: 0% !important;
}
.txt-shadow {
  text-shadow: 0px 4.909390449523926px 4.909390449523926px rgba(0, 0, 0, 0.25);
}

.icon-1:hover svg circle {
  fill: orangered;
}
.icon-2:hover svg path {
  fill: white;
}
