@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-bold";
  src: url(../dist/font-family/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: "Gilroy-light";
  src: url(../dist/font-family/Gilroy-Light.otf);
}
.icon:hover svg path {
  fill: #000 !important;
}
.autoplay::after {
  content: "" !important;
  position: absolute !important;
  right: 90% !important;
  top: 0;
  bottom: 0;
  height: 100% !important;
  width: 1000px !important;
  background: white !important;
}
.left_0 {
  left: 0% !important;
}
.txt-shadow {
  text-shadow: 0px 4.909390449523926px 4.909390449523926px rgba(0, 0, 0, 0.25);
}
.txt-shadow1 {
  text-shadow: 0px 3px 3.0395138263702393px rgba(0, 0, 0, 0.25);
}
.icon-1:hover svg circle {
  fill: orangered;
}
.icon-2:hover svg path {
  fill: white;
}
