@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-bold";
  src: url(../dist/font-family/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: "Gilroy-light";
  src: url(../dist/font-family/Gilroy-Light.otf);
}
.icon:hover svg path {
  fill: #000 !important;
}
.autoplay::after {
  content: "" !important;
  position: absolute !important;
  right: 96% !important;
  top: 0;
  bottom: 0;
  height: 100% !important;
  width: 1000px !important;
  background: white !important;
}
.left_0 {
  left: 0% !important;
}
